
<section id="upcoming">
  <h1>Upcoming Events</h1>
  <div class="container">
    <div itemprop="event" itemscope="itemscope" itemtype="http://schema.org/Event" class="row">
      <div class="venue">
        <time itemprop="startDate" content="2016-04-21T20:00"></time><span itemprop="name">Initial Fall Tour of the Bowen Island Garden Club</span>
        <div itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place">
          <div itemprop="name">Comorant Marine Dock</div>
          <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Bowen Island Municipality</span><span itemprop="addressRegion">British Columbia</span></div>
        </div>
      </div>
      <div itemprop="description">The Bowen Island Garden Club will be making its first of the 2015 season's trip to Gibsons to visit a number of gardens on the Sunshine Coast. Cormorant Marine is providing our transportation by water taxi. We will be sharing our day on the Sunshine Coast with members of the White Rock Garden Club, so you will have a chance to meet visitors from there, as well.</div>
      <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/AggregateOffer">Limited Availability</div>
      <p>Cost:<span itemprop="lowPrice">$35</span></p>
    </div>
    <button class="off-page-jump">See More Events</button>
  </div>
</section>