
<section id="welcome">
  <div class="container">
    <ul data-fireslider-breakpoints="[{&quot;breakpoint&quot;: 860, &quot;show&quot;: 2, &quot;active&quot;: 2},{&quot;breakpoint&quot;: 260, &quot;show&quot;: 1, &quot;active&quot;: 1}]" class="slider">
      <li><img src="img/welcome1.jpg"/></li>
      <li><img src="img/welcome2.jpg"/></li>
      <li><img src="img/welcome3.jpg"/></li>
      <li><img src="img/welcome4.jpg"/></li>
      <li><img src="img/welcome5.jpg"/></li>
      <li><img src="img/welcome6.jpg"/></li>
    </ul>
  </div>
  <div itemprop="description">
    <p>
      The Bowen Island Garden Club enjoys a 35-year tradition on the island.
      Its mission is to promote the love of gardening, to encourage sound horticultural practices through education, and to enhance civic beautification.
    </p>
    <p>
      This page provides an overview of upcoming events and club activities.
      For more information, we invite you to check the links provided in the menu.
    </p>
  </div>
</section>